@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-white text-center text-warning">
    <h1 class="display-4">Music Zone</h1>
    <p> Bandas a não perder.</p>
    
</div>
<div class= "text-warning">
    <p>Atualizado diariamente com <i class="bi bi-music-note-beamed"></i> </p>
</div>
<a asp-action="Conceito">Conceito</a>
